# Node.js
node_modules/
npm-debug.log*

# React build files
build/
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Docker
*.log
docker-compose.override.yml

# Tests
coverage/
*.cover
